.noResults-Dropdown{
  .Select-noresults{
    cursor: pointer !important;
    background-color: #f2f9fc;
    color: #333 !important;
  }

}

.noResults__Dropdown-hide{
  .is-open{
    .Select-control{
      border-radius: 4px !important;
    }
  }

  .Select-arrow{
    display: none !important;
  }
}
