
.selectableImage--element{
  cursor: pointer;

  img{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;


      -webkit-user-drag: none;  /* Chrome all / Safari all */
      -moz-user-drag: none;     /* Firefox all */
      -ms-user-drag: none;      /* IE 10+ */
      -o-user-drag: none;
      user-drag: none;
  }

  .selectableImage--element-tint{
      position: relative;
      float: left;
      cursor: pointer;

      i{
        text-align: center;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        bottom: -1rem;
        margin: auto;
        left: 0;
        right: 0;
        position: absolute;
        font-size: 3rem;
        color: white;
        text-shadow: 0 2px 5px black;
      }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 1rem;
      left: 0;
      right: 0;
      background: rgba(122,210,255, 0.5);
      transition: all .3s linear;
    }
  }
}