.navbar{
  z-index: $max-zIndex;
  position: fixed;
  width: 100%;

  .navbar__topbar{
    background-color: #424242;
    color:#fff;

    .navbar__topbar-title{
      display: flex;
      align-items: center;

    }
  }

  .menu{
    background-color: transparent;
    float: right;
  }

}