.selectimage{
  position: relative;

  i{
    display: none;
    color:red;
    position:absolute;
    right:5px;
    cursor:pointer;

  }

  &:hover i{
    display: block;
  }

  .selectimage--image{

      &.selectimage--image-selected{
        border: solid $blue 5px;
      }

      margin-bottom: $distance-default !important;

      .selectimage--image:last-child{
        margin: 0;
      }

  }

}