.invisible{
  visibility: hidden;
}
.title{
  font-weight: bold;
  margin-bottom: $distance-title;
}

.input__list {
  .input__list--element{
    margin-bottom: $distance-default !important;
  }

  .input__list--element:last-child{
    margin-bottom: 0 !important;
  }
}
