.videoService{
    .videoService__form{
      .videoService__form--element{
        margin-bottom: $distance-form !important;
        input{
          margin: 0;
        }

        .videoService__form--element-title{
          margin-bottom: $distance-title;
        }

      }
    }
}