.welcome{
  height: 100vh;
  background: url("../assets/images/background.jpg") center fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  .welcome__box{
    img{
      height: 80px;
      width: auto;
    }
    padding: 50px;
    min-height: 200px;
    min-width:200px;
    background-color: rgba(255, 255, 255, 0.7);

  }
}